# Sensitive data
TELEGRAM_BOT_TOKEN=bot-token # It will need to be changed

DB_USER=pushup_user
DB_NAME=pushup_tracker
DB_PASSWORD=password # It will need to be changed

# Timezone
TIME_ZONE=Europe/Moscow

